header{
	background-color: #000000;
}

#hero{
	background-image: url("../img/coverheader.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 100px 0;
}
#hero h1{
	text-align: center;
}
#noticias h2{
	font-size: 100px;
	
}

